h1{
color:#007bff;
}
.page {
  font-family: Helvetica;
  background-color: #f8f8f8;
}
.footer {
text-align:center;
}
.formClass {
min-height:25px;
}
.inlineButtons{
margin-right:2px;
float:right;
}
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
.searchButton{
margin:0;
display:inline-block;
}