{% extends "layout.html" %}
{% block body %}
	
	{% if error %}<p class=error>{{ error }}</p>{% endif %}
  
  <h2>Login</h2>
  <p>You have to be logged in to use the site</p>
  
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name = "username" id = "username">
      <dt>Password:
      <dd><input type=password name = "password" id = "password">
      <dd><input type=submit value="Login">
    </dl>
  </form>
  <p>Have no login yet? Just <a href="{{ url_for('reg') }}">register</a>! </p>
{% endblock %}